

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #ffffff;
    font-family: "Outfit", sans-serif;
}

/* HEADER */

header{
    width:100%;
    padding:20px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width: 90px;
    height: 90px;
    background-color: #301818;
    border-radius: 50%;
    object-fit: cover;
}

.logo-title h1 {
    font-size: 25px;
    color: #301818;
}

.logo-title p {
    text-align: center;
    font-size: 16px;
    color: #301818;
}

.navigation ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    list-style: none;
}

.navigation li a{
    color: #745454;
    font-size: 14px;
    text-decoration: none;
}

.navigation ul li a:hover{
    color: #2e1111;
}

.book-btn {
    background-color: #3a2222;
    padding:12px 25px;
    border-radius: 6px;
    transition: .3s;
    display: inline-block;
}

header a {
    text-decoration: none;
    color: #ffffffe0;
    font-size: 15px;
}

.book-btn:hover {
    transform: translateY(-4px);
    background-color: #000000;
}

/* HOME */


#HOME{
    padding-top:150px;
}

.home {
    background: url(images/home1.gif) ;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.home h1 {
    font-size: 100px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 2.5);
}

.home p {
    font-size: 20px;
    text-align: center;
    color: #ffffffc7;
    font-weight: 600;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 2.5);
}

.home-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.home-btns .btn1 {
    background-color: #2e1111;
    padding:10px 25px;
    border-radius: 6px;
}

.home-btns .btn2 {
    background-color: #2e1111;
    padding:10px 25px;
    border-radius: 6px;
}

.home-btns a {
    transition: .3s;
    text-decoration: none;
    color: #ffffff;
}

.btn1:hover,
.btn2:hover{
    transform: translateY(-4px);
    background-color:#000;
}



/* ABOUT */


.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 55px;
}

.about img {
    width: 25%;
    border-radius: 10px;
}

.about-text {
    width: 45%;
}

.about-text h6 {
    font-weight: 600;
    font-size: 17px;
    color: #2917179d;
}

.about-text h1 {
    font-size: 45px;
    color: #2e1111;
}

.about-text p {
    font-size: 15px;
    color: #291717;
}

.about-btn {
    margin-top: 20px;
}

.about-btn .btn {
    background-color: #2e1111;
    padding:10px 15px;
    border-radius: 6px;
    display: inline-block;
    transition: .3s;
}

.about-btn  a {
    transition: .3s;
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
}

.about-btn .btn:hover {
    background-color: #000;
    transform: translateY(-4px);
}

.about-title h2{
    margin-bottom:30px;
    text-align:center;
    font-size:38px;
    color:#2e1111;
}

.about-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.about-box{
    flex: 1;
    min-width:80px;
    background:#ffffff;
    padding:10px 5px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    transition:.3s;
}

.about-box:hover{
    transform:translateY(-8px);
    box-shadow:0 12px 30px rgba(0,0,0,.15);
}

.about-box i{
    font-size:40px;
    color:#5C3A21;
    margin-bottom:20px;
}

.about-box h4{
    font-size:18px;
    color:#2e1111;
    margin-bottom:12px;
}

.about-box p{
    font-size:14px;
    color:#666;
    line-height:1.7;
}


/* MENU */

.menu h1 {
    color: #2e1111;
    font-size: 60px;
    text-align: center;
}

.menu-boxes{
    display:flex;
    flex-direction:row;
    gap:5px;
    margin-top:40px;
}

.menu-box{
    display:flex;
    align-items:center;
    gap:10px;
    background:#fff;
    border-radius:15px;
    padding:20px;
    box-shadow:0 8px 20px rgba(0, 0, 0, 0.288);
    transition:.3s;
    width: 24%;
    margin-left: 8px;
}

.menu-box:hover{
    transform:translateY(-5px);
}

.menu-box img{
    width:110px;
    height:100px;
    object-fit:cover;
    border-radius:10px;
}

.menu-text{
    flex:1;
}

.menu-text h4{
    font-size:20px;
    color:#4b2c18;
}

.menu-text p{
    font-size: 13px;
    color:#666;
    line-height:1.6;
    margin-bottom:15px;
}

.menu-text h6 {
    color:#4b2c18;
    font-size:17px;
}


/* RESERVATION */

.reservation {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
    background-color: #1f0f0f;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i{
    font-size: 40px;
}

.reservation-text h1 {
    font-size: 27px;
    color: #fff;
    line-height: 1.7;
}

.reservation-text p {
    color: #a8a8a8;
    font-size: 14px;
}

.reservation-name input{
    border-style: none;
    border-radius: 10px;
    padding:12px 20px;
}

.reservation-date input{
    border-style: none;
    border-radius: 10px;
    padding:12px 20px;
}

.reservation-time input{
    border-style: none;
    border-radius: 10px;
    padding:12px 20px;
}

.reservation-people input{
    border-style: none;
    border-radius: 10px;
    padding:12px 20px;
}

.reservation ::placeholder {
    font-family: "Outfit", sans-serif;
}


/* CONTACT */


#CONTACT{
    background: #ffffff;
    padding: 10px 8%;
    color: rgb(51, 26, 26);
    margin-top: 80px;
}

.footer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-text{
    width: 28%;
}

.footer-text h1 {
    font-size: 50px;
    color: #2c1c1c;
}

.footer-text p{
    font-size: 30px;
    color: #35202096;
    line-height: 2;
    font-weight: 700;
}

.footer-links{
    display: flex;
    flex-direction: column;
}

.footer-links h3{
    margin-bottom: 20px;
    font-size: 22px;
}

.footer-links a{
    color: #462c2c;
    text-decoration: none;
    margin-bottom: 12px;
    transition: .3s;
}

.footer-links a:hover{
    color: #000000;
}

.footer-links i{
    margin-right: 8px;
    color: #382020;
}

footer hr{
    margin: 40px 0 20px;
    border: none;
    border-top: 1px solid rgba(255,255,255,.2);
}

.copyright{
    text-align: center;
    color: #251111;
    font-size: 15px;
}



/* MOBILE */


@media (max-width:768px){

/* HEADER */

header{
    padding:15px 5%;
}

.navigation{
    display:none;
}

header button{
    display:none;
}

.logo img{
    width:70px;
    height:70px;
}

.logo-title h1{
    font-size:20px;
}

.logo-title p{
    font-size:13px;
}

/* HOME */

#HOME{
    padding-top:100px;
}

.home{
    width:100%;
    padding:120px 20px;
    background-position:center;
    background-size:cover;
}

.home h1{
    font-size:45px;
}

.home p{
    font-size:16px;
    line-height:1.7;
}

.home-btns{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:30px;
}

/* ABOUT */

.about{
    display:flex;
    flex-direction:column;
    gap:40px;
}

.about-text{
    width:100%;
}

.about-text h2{
    font-size:34px;
}

.about-text p{
    line-height:1.8;
    font-size:16px;
}

.about img{
    width:100%;
}

.about-right{
    width:100%;
}

.about-right p{
    line-height:1.8;
}

.about-boxes{
    display:grid;
    grid-template-columns:1fr;
    gap:15px;
}

.about-box{
    width:100%;
}

/* MENU */

.menu-boxes{
    display:grid;
    grid-template-columns:1fr;
    gap:10px;
    justify-items:center;
}

.menu-box{
    display:flex;
    flex-direction:column;
    width:90%;
    background:#fff;
    border-radius:15px;
    padding:20px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.menu-box img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.menu-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:15px;
}

/* RESERVATION */

.reservation{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.reservation-text {
    text-align: center;
}

.reservation form{
    width:100%;
}

/* CONTACT */

.contact{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.contact-left,
.contact-right{
    width:100%;
}

/* FOOTER */

footer{
    text-align:center;
}

}